<span class="toggle-switch-component" {{action 'toggle'}}>
  <button type="button" class="toggle-switch">
    <span class="toggle-switch-a11y-message">
      {{a11yMessage}}  
    </span>
  </button>
  {{#if displayToggleMessage}}
    <span class="toggle-message">
      {{#if isOn}}
	{{toggleMessageWhenOn}}
      {{else}}
	{{toggleMessageWhenOff}}
      {{/if}}
    </span>
  {{/if}}
  {{yield}}
</span>

